<style>
  .card {
  width: auto;
  margin: 10px;
  justify-content: center;
  min-height: 250px;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 18px );
  -webkit-backdrop-filter: blur( 18px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 1rem;
  padding: 1.5rem;
  z-index: 10;
  color: whitesmoke;
}
</style>
<div class="card">
  <h2 class="mb-4 " style="text-align: center;">Perfil de Usuario</h2>
  <form id="userProfileForm">
    <div class="form-group ">
      <label for="firstName">Nombre:</label>
      <input
        type="String"
        class="form-control"
        name="fullname"
        value="{{user.fullname}}"
        readonly
      />
    </div>
    <div class="form-group">
      <label for="phone">Telefono:</label>
      <input
        type="Number"
        class="form-control"
        name="phone"
        value="{{user.phone}}"
        readonly
      />
    </div>
    <div class="form-group">
      <label for="department">Empresa:</label>
      <input
        type="String"
        class="form-control"
        name="company"
        value="{{user.company}}"
        readonly
      />
    </div>
    <div class="form-group">
      <label for="identificacion">Identificación:</label>
      <input
        type="Number"
        class="form-control"
        name="identificacion"
        value="{{user.identificacion}}"
        readonly
      />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        name="email"
        value="{{user.email}}"
        readonly
      />
    </div>
    <a href="/users/editar/{{user._id}}" class="btn btn-info">Actualizar Informacion</a>
  </form>
</div>